body{
    margin:0px;

}

.logo {
    width: 100px;
    height: 100px;
}
.img-perfil{
    display: flex;
    justify-content: end;
}

/* Estilo para o container grid */
.template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas de larguras iguais */
    grid-template-rows: auto; /* Altura automática para as linhas */
    gap: 20px; /* Espaçamento entre as células */
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    height: 100vh; /* Ocupa a altura inteira da tela */
}

/* Estilo para o header */
header {
    grid-area: header;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilo para a div principal */
.main {
    grid-area: main;
    background-color: #3a1919;
    padding: 20px;
}

/* Estilo para o footer */
footer {
    grid-area: footer;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
